<div id="my-services-component">
  <h1>MY SERVICES</h1>
  <p>
    I have over 7 years of experience building professional websites for clients all over the world.
    I take advantage of the latest technologies in the industry to create a product 100% catered to the customer.
  </p>
  <div class="center">
    <h2>THE TYPICAL DESIGN PROCESS</h2>
    <p>
      Depending on the size, type and budget of a project, these are the steps I usually follow to complete a project.
    </p>
  </div>
  <div class="grid-container purple-gradient center">
    <div class="grid-item">Define<span class="grid-gap"></span></div>
    <div class="grid-item">Site Structure<span class="grid-gap"></span></div>
    <div class="grid-item">Visual Design<span class="grid-gap"></span></div>
    <div class="grid-item">Testing<span class="grid-gap"></span></div>
  </div>
  <div class="grid-container center">
    <div class="grid-details">
      <ol>
        <li>Client Interview</li>
        <li>Project Brief</li>
        <li>Initial Tech Specs</li>
        <li>Project Timeline</li>
      </ol>
    </div>
    <div class="grid-details">
      <ol>
        <li>Content Outline</li>
        <li>Site Map</li>
        <li>Wireframes</li>
      </ol>
    </div>
    <div class="grid-details">
      <ol>
        <li>Draft Design</li>
        <li>Feedback</li>
        <li>Refine Design</li>
        <li>Select Design</li>
      </ol>
    </div>
    <div class="grid-details">
      <ol>
        <li>QA Testing</li>
        <li>Prioritize Issue</li>
        <li>Refine Site</li>
        <li>Customer Sign-off</li>
      </ol>
    </div>
  </div>
  <div>
    <h2>SERVICES RENDERED</h2>
    <ul>
      <li>SE Optimization</li>
      <li>Full Stack Development</li>
      <li>CMS Integration</li>
      <li>User Experience Enhancement</li>
      <li>Feature Development</li>
      <li>Website Security</li>
      <li>CI/CD</li>
      <li>Firmware Upgrade</li>
      <li>System Administration</li>
      <li>Responsive Web Design</li>
      <li>Wordpress Templating</li>
      <li>Hot Key Scripting</li>
    </ul>
  </div>
</div>