<div id="slideshow-container">
  <div class="monitor">
    <ul>
      <li class="slides fade">
        <img
          src="assets/images/slideshow/disneyworld_2020-09-11.png"
          alt="Walt Disney World"
          class="image-preview">
      </li>
      <li class="slides fade">
        <img
          src="assets/images/slideshow/accesso_2020-09-13.png"
          alt="Accesso"
          class="image-preview">
      </li>
      <!-- <li class="slides fade">
        <img
          src="assets/images/slideshow/menusofamerica.png"
          alt="Menus of America"
          class="image-preview">
      </li> -->
      <!-- <li class="slides fade">
        <a href="http://www.mindsofchimera.com">
          <img
            src="assets/images/slideshow/mindsofchimera.png"
            alt="Minds of Chimera"
            class="image-preview">
          </a>
      </li> -->
    </ul>
    <div id="toolbar">
      <img
        src="assets/images/slideshow/toolbar_play.jpg" 
        id="toolbar-play"
        usemap="#toolbar-map"
        alt="Toolbar">
      <map
        name="ToolbarMap" 
        id="toolbar-map">
        <area
          href="javascript:void(0)" 
          class="arrow first"
          alt="Go to Start"
          title="Go to Start"
          shape="circle"
          coords="17,21,22" />
        <area
          href="javascript:void(0)"
          class="arrow prev"
          alt="Previous Photo (Left arrow)"
          title="Previous Photo"
          shape="circle"
          coords="68,21,22" />
        <area
          href="javascript:void(0)" 
          class="play"
          alt="Start/Pause Slide Show (Space)"
          title="Start/Pause Slide Show"
          shape="circle"
          coords="122,21,22" />
        <area
          href="javascript:void(0)"
          class="arrow next"
          alt="Next Photo (Right arrow)"
          title="Next Photo"
          shape="circle"
          coords="175,21,22" />
        <area
          href="javascript:void(0)"
          class="arrow last"
          alt="Go to End (End)"
          title="Go to End"
          shape="circle"
          coords="227,21,22" />
      </map>
    </div>
  </div>
</div>