<div id="portfolio-component">
  <div class="website-example">
    <h1>Walt Disney World</h1>
    <img
      src="/assets/images/portfolio/disneyworld_2020-09-11.png"
      alt="Walt Disney World Website Screenshot"
      class="large-screenshot">
    <div>
      <h2>Description</h2>
      <p>
        Guest centric project utilizing a symphony of technologies, services, and APIs focused on high quality assurance and interactive user experience built on top of a Zend Framework. 
      </p>
      <h2>Work Experience Highlights</h2>
      <p>
        Worked in an Agile environment, coordinated with team members, creative team, and product managers. Primary responsibilities included: UI programming, responsive design development, defect verification and triage, quality assurance, and sustainment.
      </p>
      <ul>
        <li><b><a href="https://disneyworld.disney.go.com/">Visit the site</a></b></li>
        <li><b>Role: </b>Web Developer</li>
        <li><b>Web Frameworks: </b>Zend, Angular JS</li>
        <li><b>Languages: </b>PHP, HTML5, CSS3, and JavaScript</li>
        <li><b>Web tools: </b>Node.js, Npm, Bower, Grunt, Yeoman, Express.js</li>
      </ul>
    </div>
  </div>
  <div class="website-example">
    <h1>Accesso</h1>
    <img
      src="/assets/images/portfolio/accesso_2020-09-13.png"
      alt="Accesso Website Screenshot"
      class="large-screenshot">
    <div>
      <h2>Description</h2>
      <p>
        Ticketing software built on top of AngularJS designed to improve ticketing sales and enhance user experience for theme parks.
      </p>
      <h2>Work Experience Highlights</h2>
      <p>
        Coordinated with team members, ops, and client service managers. Primary responsibilities included developing flow controls, leading brainstorming discussions, improving existing features, isolating and fixing bugs, managing and resolving help desk tickets, UI programming.
      </p> 
      <ul>
        <li><b><a href="https://sf-ba.store.sixflags.com/packageDetails/10005926/keyword/VIP%20Lite?_cid=2019676259.1598758714&sfCustomerID=">Visit the web app</a></b></li>
        <li><b>Role: </b>Full Stack Web Developer</li>
        <li><b>Web Framework: </b>Angular 2+</li>
        <li><b>Technologies: </b>HTML5, CSS3, and JavaScript</li>
      </ul>
    </div>
  </div>
  <div class="website-example">
    <h1>Minds of Chimera</h1>
    <img
      src="/assets/images/portfolio/mindsofchimera.png"
      alt="Minds of Chimera Website Screenshot"
      class="large-screenshot">
    <div>
      <p>
        Minds of Chimera features a custom-built social media utility based off the widely used social media site Facebook.com. Minds of Chimera provides private and public user photo galleries, custom profile pages, web apps for MineCraft plugins, and various other features. 
      Minds of Chimera uses complex database structures containing thousands of registered users and tetrabytes of media content.
      </p>
      <ul>
        <li><b>
          <a href="https://bitbucket.org/Logar/minds-of-chimera/src/master/">
          View the source code</a>
        </b></li>
        <li><b>Role: </b>Full Stack Web Developer</li>
        <li><b>Web Framework: </b>CodeIgniter</li>
        <li><b>Technologies: </b>PHP, HTML5, CSS3, jQuery, JavaScript</li>
      </ul>
    </div>
  </div>
  <div class="website-example">
    <h1>Trinity Hills Farm</h1>
    <img
      src="/assets/images/portfolio/trinity-hills-farm.png"
      alt="Trinity Hills Farm Website Screenshot"
      class="large-screenshot">
    <div>
      <p>
        Trinity Hills Farm is a website that allows visitors to view horse boarding information and contact the owner via snailmail. 
      </p>
      <ul>
        <li><b>Role: </b>Web Developer</li>
        <li><b>Web Framework: </b>CodeIgniter</li>
        <li><b>Technologies: </b>PHP, HTML, CSS, and JavaScript</li>
        <li><b>Year Released: </b>2010</li>
      </ul>
    </div>
  </div>
</div>